<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORKFLOW - Login</title>
    <link rel="stylesheet" href="/css/simpui.css">
    <link rel="stylesheet" href="/css/simpicker.css">
    <script src="/js/simpicker.js"></script>
</head>
<body style="display:flex; align-items:center; justify-content:center; height:98vh;">

    <div class="simpui-card" style="width: 350px; padding: 30px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);">
        
        <h2 style="text-align:center; margin-bottom:20px;">
            Workflow
        </h2>

        <form>

            <div class="simpui-form-group">
                <input 
                    id="inputLogin"
                    type="text" 
                    name="login" 
                    class="simpui-input" 
                    placeholder="Login" 
                    required
                />
                <div class="simpui-error">Login é obrigatório</div>
            </div>

            <div class="simpui-form-group" style="margin-top:15px;">
                <input 
                    id="inputSenha"
                    type="password" 
                    name="senha" 
                    class="simpui-input" 
                    placeholder="Senha" 
                    required
                />
                <div class="simpui-error">Senha é obrigatória</div>
            </div>

            <div style="margin-top: 25px; display: flex; justify-content: end;">
                <button id="btnLogin" class="simpui-btn primary sm">Entrar</button>
            </div>

        </form>

        <div style="text-align:center; margin-top:15px; font-size:14px;">
            Não tem conta? <a href="/register" style="color: rgb(94, 94, 94)">Criar conta</a>
        </div>

    </div>

    <script>

        async function handleLogin(event) {
            event.preventDefault();
            const login = document.getElementById('inputLogin').value;
            const senha = document.getElementById('inputSenha').value;

            const response = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ login, senha })
            });

            console.log('Resposta do servidor:', response);
        }

        document.getElementById('btnLogin').addEventListener('click', handleLogin);

    </script>
    <script src="/js/simpui.js"></script>
</body>
</html>